# Node package directories
node_modules
jspm_packages

# Python distribution / packaging
.Python
.venv/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Java Package Files
*.jar
*.war
*.ear

# Serverless Framework directories
.serverless